@charset "utf8";
.img-full {
    animation: light 4s ease-in-out infinite;
    transition: 0.5s;
}

@keyframes light {
    0% {
        box-shadow: 0 0 4px #f00;
    }

    50% {
        box-shadow: 0 0 4px #00f;
    }

    100% {
        box-shadow: 0 0 4px #f00;
    }
}

.thumb-lg{
    width:130px;
}

.avatar{
    -webkit-transition: 0.4s;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out; 
}

.avatar :hover {
	display: inline-block;
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	-webkit-animation: shake 1s ease-in-out infinite;
	animation: shake 1s ease-in-out infinite;
}

#aside-user span.avatar{
    animation-timing-function:cubic-bezier(0,0,.07,1)!important;
    border:0 solid
}

#aside-user span.avatar:hover{
    transform:rotate(360deg) scale(1.1);
    border-width:3px;
    animation:avatar .5s
}

.item-thumb{
    cursor: pointer;  
    transition: all 0.6s;  
}

.item-thumb:hover{
      transform: scale(1.05);  
}

.item-thumb-small{
    cursor: pointer;  
    transition: all 0.6s;
}

.item-thumb-small:hover{
    transform: scale(1.05);
}